requests
Pillow
Django
pipenv

WHENEVER YOU RUN THE DJANGO SERVER YOU MUST START A pipenv VIRTUAL ENVIROMENT SHELL:
in terminal run: pipenv install --ignore-pipfile
then run: pipenv shell
THIS WILL RECREATE THE ORIGINAL VIRTUAL ENVIROMENT, IGNORING ANY CONFLICTING VERSIONS OF PYTHON, DJANGO, ETC.
WHILE THE VIRTUAL ENVIROMENT IS RUNNING YOU CAN RUN THE DJANGO SERVER AS NEEDED.
WHEN YOU ARE DONE RUN exit TO END THE VIRTUAL ENVIROMENT INSTANCE

TO RUN DJANGO SERVER RUN: python manage.py runserver
THIS WILL START RUNNING THE SERVER
TO STOP RUNNING THE SERVER USE CTRL+C